<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 ">
    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a th:href="@{/}" class="navbar-brand">
                <img style="width: 5rem;" th:src="@{/images/pinky.jpg}" alt="Pinky Logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav"  `>
                    <li class="nav-item">
                        <a th:href="@{/users}" class="nav-link">Users</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/categories}" class="nav-link">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/brands}" class="nav-link">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/products}" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/customers}" class="nav-link">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/shipping}" class="nav-link">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/orders}" class="nav-link">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/report}" class="nav-link">Sales Report</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/articles}" class="nav-link">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/menus}" class="nav-link">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/settings}" class="nav-link">Settings</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h1>Manage Users | [[${pageTitle}]]</h1>
    </div>
    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto;" th:object="${user}" onsubmit="return checkEmailUnique(this);"
        enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">E-mail</lable>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128"/>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">First Name</lable>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Last Name</lable>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Password</lable>
                <div class="col-sm-8">
                    <input th:if="${user.id == null}" type="password" class="form-control" th:field="*{password}" required minlength="6" maxlength="64"/>
                    <input th:if="${user.id != null}" type="password" class="form-control" th:field="*{password}"  minlength="6" maxlength="64"/>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Roles:</lable>
                <div class="col-sm-8">
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="m-2" />
                        - <small>[[${role.description}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Enabled:</lable>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" />
                </div>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Photo:</lable>
                <div class="col-sm-8">
                    <input type="hidden" name="hidden_photo" th:field="*{photos}">
                    <input class="mb-2" type="file" id="fileImage" name="image" accept="image/png, image/jpeg" />
                    <img class="img-fluid" th:src="@{${user.getPhotosImagePath()}}" alt="thumbnail" id="thumbnail" style="max-width: 50%;"/>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3" />
                <input type="button" value="Cancel" class="btn btn-primary" id="buttonCancel"/>
            </div>
        </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


<div class="text-center">
    <p>&copy;Pinky Souvenir Planet - <span id="date_dev"></span> - All right reserved</p>
</div>

</div>
<script type="text/javascript">
    document.getElementById('date_dev').innerHTML = new Date().getFullYear()+"-"+ (new Date().getFullYear() + 1);
    $(document).ready(function (){
        $("#buttonCancel").on("click", function (){
            window.location = "[[@{/users}]]";
        });

        $("#fileImage").change( function () {
            fileSize = this.files[0].size;
           // alert("File size: " + fileSize);

            if(fileSize > 1048576){
                this.setCustomValidity("You must choose an image less than 100Mb");
                this.reportValidity();
            } else {
                this.setCustomValidity("");
                    showImageHandler(this);
            }
        });
    });

    function showImageHandler(fileInput){
        var file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function (e){
            $("#thumbnail").attr("src", e.target.result);
        };

        reader.readAsDataURL(file);
    }

    function checkEmailUnique(form){
        url = "[[@{/users/check_email}]]";
        userEmail = $("#email").val();
        userId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();

        params = {id: userId, email: userEmail, _csrf: csrfValue};

        $.post(url, params, function (response){
            if(response == "Accept"){
                form.submit();
            } else if (response == "Duplicated"){
                showModalDialog("Warning", "This Email address was already registered: "+ userEmail );
            } else {
                showModalDialog("Error", "Unknow response from server");
            }

        }).fail(function (){
            showModalDialog("Error", "Could not connect to the server");
        })

        return false;
    }

    function showModalDialog(title, message){
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();
        }

    // function checkEmailUnique(form){
    //     url = "[[@{/users/check_email}]]";
    //     userEmail = $("#email").val();
    //
    //     params = {userEmail};
    //
    //     $.post(url, params, function (response){
    //         alert("This Email address was already registered "+ response );
    //
    //     });
    //
    //     return false;
    // }
</script>
</body>

</html>